resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml

namePrefix: olivetin-
  
labels:
  - includeSelectors: true
    includeTemplates: true
    pairs:
      app: olivetin
  
namespace: util

images:
- name: olivetin
  newName: docker.io/jamesread/olivetin
  newTag: "3000.3.0"

configMapGenerator:
  - name: map
    files:
      - env/config.yaml
      - env/servers.yaml
      - env/services.yaml

secretGenerator:
  - name: secret
    files:
      - env/id_ed25519
      - env/id_ed25519.pub
      - env/known_hosts
      
patches:
  - target:
      kind: Deployment
      name: deployment
    path: patches/diun-annotation.yaml
#  Uncomment to let traefik handle ssl certs
#  - target:
#      kind: Ingress
#      name: ingress
#    path: patches/traefik-ssl-cert.yaml
